<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 69px">
    <div class="container-fluid" style="background-color: #121214; border-bottom: 2px solid #ccc; border-top: 2px solid #ccc;">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand mt-2 mt-2 mt-lg-0" href="/" style="color: #ffffff">Sound Waves</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="newsButtonFilesPage">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/music-news}" style="color: #b7b7b7">News</a>
                    </li>
                </div>
                <div class="soundButtonFilesPage">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/upload-files}" style="color: #b7b7b7">Upload</a>
                    </li>
                </div>
                <div class="soundButtonFilesPage">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/list-files}" style="color: #b7b7b7">Sounds</a>
                    </li>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <div class="soundButtonFilesPage">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/list-files-unapproved}" style="color: #b7b7b7">Approve Files</a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
        <div sec:authorize="!isAuthenticated()" class="d-flex align-items-center" style="padding-top: 15px">
            <ul>
                <li class="nav-link">
                    <a class="getstarted btn btn-primary" th:href="@{/login}">Login</a>
                </li>
            </ul>
            <ul>
                <li class="nav-link">
                    <a class="getstarted btn btn-primary"  th:href="@{/register}">Sign Up</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </div>
        <div sec:authorize="isAuthenticated()" class="d-flex align-items-center">
            <p style="padding-top: 20px; padding-right: 15px; color: #ffffff">
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-right fa-lg"></i>Sign Out
                </button>
            </form>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </div>
    </div>
    <div class="container-my-5">
        <footer class="text-center fixed-bottom" style="background-color: #121214">
            <div style="color: #ffffff">@2022 Copyright: Aleksej Krusharski</div>
        </footer>
    </div>
</nav>
    <div class="container text-center">

            <div class="front-content">
                <h1 class="front-content-title"><b>Music made</b></h1>
                <p class="front-content-paragraph">High quality-free samples. Latest news from music industry. Make music using <b>SoundLibrary</b></p>
                <uL class="front-content-button">
                    <li class="nav-link">
                        <a class="tryFree btn btn-primary" th:href="@{/register}">Try free</a>
                    </li>
                </uL>
            </div>
    </div>

</body>
</html>